* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2');
}

@font-face {
  font-family: 'fraunces';
  src: url('fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('woff2');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
}

img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.perfume {
    font-family: 'montserrat', sans-serif;
    letter-spacing: 10px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

header h1 {
    font-family: 'fraunces', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: hsl(0, 0%, 100%);
    width: 100vw;
    margin: 5em;
}

.description {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: hsl(228, 12%, 48%);
}

.product-description {
    display: flex;
    flex-direction: column;
    padding: 3em 4.5em;
}

.sale-price {
    font-family: 'fraunces', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: hsl(158, 36%, 37%);
    
}

.old-price {
    font-family: 'fraunces', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

button {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    padding: 2rem;
    border-radius: 12px;
    border-style: none;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

button img {
    width: 1.5rem;   
}

.prices {
    display: flex;
    gap: 2em;
    justify-content: flex-start;
    align-items: center
}

@media (width >= 64rem) {
    .card {
        flex-direction: row; 
        padding-right: 2.5em;
    }
    img {
        border-radius: 12px 0 0 12px;
    }
}